{% extends "booking/base.html" %}
{% block body  %}

{% for i  in salons  %}



<div class="container-fluid my-4">
  <div class="card w-100 shadow-sm">
    <div class="row g-0 align-items-center">
      
      <!-- Image Column -->
      <div class="col-md-4">
        <img src="{{i.image}}"
             class="img-fluid rounded-start card-img-horizontal"
             alt="Card image">
      </div>
      
      <!-- Content Column -->
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">
            Enjoy a luxurious stay with world-class amenities and comfort.
            Perfect for vacations, business trips, and weekend getaways.
          </p>

          <div class="d-flex gap-2">
            <a href="{% url 'booking:detail_page' i.id %}" class="btn btn-primary">Read More</a>
            <a href="{% url 'booking:book' %}" class="btn btn-success">Book Now</a>
          </div>

       
        </div>
      </div>

    </div>
  </div>
</div>

{% endfor %}


{% endblock  %}